$color-primary: #0338ca;
$color-secondary: #969696;
$color-alert: hsl(0, 98%, 40%);
$color-warning: hsl(51, 97%, 44%);
$color-success: hsl(110, 100%, 27%);

$icon-default-width: 1.5em;
$icon-default-height: 1.5em;
$icon-default-size: 1rem;
$icon-xs: 0.75rem;
$icon-sm: 0.875rem;
$icon-md: 1rem;
$icon-lg: 1.125rem;
$icon-xl: 1.25rem;

$icon-circle: 1;